@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#container {
    border-style:solid;
}

.coin-title {
font-size:50px;
}

.coin-price {
    font-size:80px;
}

.display-container-btc {
    border-radius:10px;
    border-style:hidden;
    background-color:gold;
    text-align: center;
    margin-bottom:50px;
}

.display-container-eth {
    border-radius:10px;
    border-style:hidden;
    background-color:aquamarine;
    text-align: center;
    margin-bottom:50px;
}

.display-container-default {
    border-radius:10px;
    border-style:hidden;
    background-color:bisque;
    text-align: center;
    margin-bottom:100px;
}

.display-item {
    margin:0px;
    padding: 0px;
}

#btn-container {
    display:flex;
    border-style:hidden;
    border-radius:10px;
    padding: 15px 25px;
    border-style:hidden;
    background-color:rgba(0,0,0,.5);
}

#main-buttons {
    display:flex;
}

.btc-coloring {
    background-color:goldenrod;
    color:white;
}

.eth-coloring {
    background-color:blue;
    color:white;
}

.btn {
    border-style:hidden;
    border-radius: 20px;
    padding: 15px 40px;
    margin: 10px 10px;
    font-size:22px;
}

.btn:hover {
    cursor:pointer;
    background-color:white;
    color:black;
}


.main-container-btc {
    background-color:rgba(159, 130, 57, .62);
    margin:20px;
    padding:40px;
    border-radius:10px;
}

.main-container-eth {
    background-color:cornflowerblue;
    margin:20px;
    padding:40px;
    border-radius:10px;
}

.main-container-default {
    background-color:blueviolet;
    margin:30px;
    padding:50px;
    border-radius:10px;
}

#btc-icon {
    padding-right:30px;
    height:40vh;
    visibility: visible;
}
#eth-icon {
    height:50vh;
    visibility: visible;
}

.btc-bg-color {
    background-color:rgba(199, 187, 187, 1);
}

.eth-bg-color {
    background-color:rgb(85, 85, 150);
}

.default-bg-color {
    background-color:coral
}

.displayed {
    visibility: visible;
}

.hidden {
    visibility: hidden !important;
}

 @media (max-width:800px) {
    #eth-icon {

        display:none
    }
    #btc-icon {
        display:none
    }
} 